# Ignore Terraform local plugin downloads and working directories
terraform/.terraform/

# Ignore local editor and OS files
*.swp
*.swo
*.tmp
.DS_Store

# Ignore node application modules and logs
node_modules/
npm-debug.log
