port {{ redis_sentinel_port }}
protected-mode no
sentinel monitor {{ redis_master_name }} {{ redis_master_host }} {{ redis_port }} {{ redis_sentinel_quorum }}
sentinel down-after-milliseconds {{ redis_master_name }} {{ redis_sentinel_down_after_milliseconds }}
sentinel failover-timeout {{ redis_master_name }} {{ redis_sentinel_failover_timeout }}
sentinel parallel-syncs {{ redis_master_name }} {{ redis_sentinel_parallel_syncs }}
